

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}  

#app {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: #2c3e50;
  }


.chart {
  width:100%;
  margin:50px auto 50px auto;

  p {
    margin: 0 0 20px 30px;
  }

  span.against {
    font-size:11px;
    margin: 0 5px;
    padding:3px;
    background-color: orange;
  }

  span.support {
    font-size:11px;
    margin: 0 5px;
    padding:3px;
    background-color: silver;
  }


  
}

  
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  body {
    font-family: "Roboto Mono", monospace;
   
  }


  

  main {   
    display:grid;
    grid-template-columns: 20% auto 20%
  }

  #content {    
    text-align: left;
    /* height:100vh; */
    /* overflow-y:auto; */
/*     background-color:rgb(241, 237, 237);
 */
    #inner {
      width:90%;
      margin:auto;
    }

    button {
      position:sticky;
      top:0;
    }
  }


  #left-parent {
    position:sticky;
    top:0;
    grid-column:1/2;
    width:300px;
    max-height: 100vh;

    .ua {
      fill: blue;
    }
  }

  #right-parent {
    position:sticky;
    top:0;
    grid-column:3/4;
    width:300px;
    max-height: 100vh;

    .ua {
      fill: orange;
    }
  }

  

  .ru {
    fill: red;
  }


  #bricksContainer {
    display:flex; 
    height:250px; 

    p {
      margin: 5px 2px;
      /* margin-block-start:  5px;
      margin-block-end:  5px; */
    }
  }


  #bricks-for {   
    width:50%;
    align-content: flex-start;
    display:flex;
    flex-wrap: wrap-reverse; ;
    text-align: left;
    align-self: flex-end;

    p {  
      width:60%;
      margin: 0;   
      display:flex;
      align-content: flex-start;
      flex-wrap: wrap-reverse; ;
    }

    span {
      opacity:0;
    }

    span:nth-child(1) {animation: fadeIn 2s forwards; animation-delay: 0.0s; }
    span:nth-child(2) {animation: fadeIn 2s forwards; animation-delay: 0.3s; }
    span:nth-child(3) {animation: fadeIn 2s forwards; animation-delay: 0.6s; }
    span:nth-child(4) {animation: fadeIn 2s forwards; animation-delay: 0.9s; }
    span:nth-child(5) {animation: fadeIn 2s forwards; animation-delay: 1.2s; }
    span:nth-child(6) {animation: fadeIn 2s forwards; animation-delay: 1.5s; }
    span:nth-child(7) {animation: fadeIn 2s forwards; animation-delay: 1.8s; }
    span:nth-child(8) {animation: fadeIn 2s forwards; animation-delay: 2.1s; }
    span:nth-child(9) {animation: fadeIn 2s forwards; animation-delay: 2.4s; }
    span:nth-child(10) {animation: fadeIn 2s forwards; animation-delay: 2.7s; }
    span:nth-child(11) {animation: fadeIn 2s forwards; animation-delay: 3.0s; }
    span:nth-child(12) {animation: fadeIn 2s forwards; animation-delay: 3.3s; }
    span:nth-child(13) {animation: fadeIn 2s forwards; animation-delay: 3.6s; }
    span:nth-child(14) {animation: fadeIn 2s forwards; animation-delay: 3.9s; }
    span:nth-child(15) {animation: fadeIn 2s forwards; animation-delay: 4.2s; }
    span:nth-child(16) {animation: fadeIn 2s forwards; animation-delay: 4.5s; }
    span:nth-child(17) {animation: fadeIn 2s forwards; animation-delay: 4.8s; }
    span:nth-child(18) {animation: fadeIn 2s forwards; animation-delay: 5.2s; }
    span:nth-child(19) {animation: fadeIn 2s forwards; animation-delay: 5.5s; }
    span:nth-child(21) {animation: fadeIn 2s forwards; animation-delay: 5.8s; }
    span:nth-child(22) {animation: fadeIn 2s forwards; animation-delay: 6.2s; }
    span:nth-child(23) {animation: fadeIn 2s forwards; animation-delay: 6.5s; }
    span:nth-child(24) {animation: fadeIn 2s forwards; animation-delay: 6.8s; }





      p span { 
        height:20px;
        display: inline-block;
        margin: 2px 2px;   
        padding:3px;
        background-color: lightblue;
      }
  
  }

  #bricks-against {
    width:50%;
    align-content: flex-start;
    display:flex;
    flex-wrap: wrap-reverse; ;
    text-align: left;
    align-self: flex-end;
 
    p { 
      width:60%;
      margin: 0;      
      display:flex;
      align-content: flex-start;
      flex-wrap: wrap-reverse; ;
    }



    span {
      opacity:0;
    }


    span:nth-child(1) {animation: fadeIn 2s forwards; animation-delay: 0.1s; }
    span:nth-child(2) {animation: fadeIn 2s forwards; animation-delay: 0.4s; }
    span:nth-child(3) {animation: fadeIn 2s forwards; animation-delay: 0.7s; }
    span:nth-child(4) {animation: fadeIn 2s forwards; animation-delay: 1.0s; }
    span:nth-child(5) {animation: fadeIn 2s forwards; animation-delay: 1.3s; }
    span:nth-child(6) {animation: fadeIn 2s forwards; animation-delay: 1.6s; }
    span:nth-child(7) {animation: fadeIn 2s forwards; animation-delay: 2.0s; }
    span:nth-child(8) {animation: fadeIn 2s forwards; animation-delay: 2.3s; }
    span:nth-child(9) {animation: fadeIn 2s forwards; animation-delay: 2.6s; }
    span:nth-child(10) {animation: fadeIn 2s forwards; animation-delay: 3.0s; }
    span:nth-child(11) {animation: fadeIn 2s forwards; animation-delay: 3.3s; }
    span:nth-child(12) {animation: fadeIn 2s forwards; animation-delay: 3.6s; }
    span:nth-child(13) {animation: fadeIn 2s forwards; animation-delay: 3.8s; }
    span:nth-child(14) {animation: fadeIn 2s forwards; animation-delay: 4.0s; }
    span:nth-child(15) {animation: fadeIn 2s forwards; animation-delay: 4.2s; }
    span:nth-child(16) {animation: fadeIn 2s forwards; animation-delay: 4.5s; }
    span:nth-child(17) {animation: fadeIn 2s forwards; animation-delay: 4.8s; }
    span:nth-child(18) {animation: fadeIn 2s forwards; animation-delay: 5.2s; }
    span:nth-child(19) {animation: fadeIn 2s forwards; animation-delay: 5.5s; }
    span:nth-child(21) {animation: fadeIn 2s forwards; animation-delay: 5.8s; }
    span:nth-child(22) {animation: fadeIn 2s forwards; animation-delay: 6.2s; }
    span:nth-child(23) {animation: fadeIn 2s forwards; animation-delay: 6.5s; }
    span:nth-child(24) {animation: fadeIn 2s forwards; animation-delay: 6.8s; }

    


    p span {  
      height:20px;
      display: inline-block;
      margin: 2px 2px;   
      padding:3px;
      background-color: orange;
    }
  
  }


  @keyframes falling {
    0% {
        margin-top: -1000px;
        opacity:1;
        
    }

    100% {
        margin-top: 0px;
        opacity:1;
    }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  70% {
    opacity: 1;
  } 
  100% {
    opacity: 1;
  }
}


path.domain {
  opacity:0;

}

g.tick text {
  fill:grey;
}